body{
margin: 0;
text-align: center;
font-family: 'Merriweather', serif;
color: #ffffff;
}

.parallax{
  background: url("https://images.pexels.com/photos/172288/pexels-photo-172288.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=1900") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.parallax-inner{
  padding-top: 10%;
  padding-bottom: 20%;
  color: #ffffff;
}

.parallax-inner h3{
  color: #ffffff;
}

.parallax-inner a{
  color: #ffffff;
}

.coffee-stained-soul{
   width: 60%
}

.margin{

}

.margin h2{
  color: #ffffff;
}

div{
  text-align: center;
}

hr{
  border-style: dotted;
  border-width: .5em;
  border-top: none;
  width: 20em;
}

.cloud-top{
  position: absolute;
  right: 500px;
  top: 50px;
}

.cloud-bottom{
  position: absolute;
  bottom: 550px;
  left: 500px;
}

h1{
  font-size: 5.625rem;
  font-family: 'Sacramento';
  margin-top: 50px;
  color: #ffffff;
}

h2{
  font-size: 2.5rem;
  color: #ffffff;
}

h3{
  color: #ffffff;
}

a{
  color: #ffffff;
  text-decoration: none;
}

a:hover{
  color: #B84400;
}

.top-container{

}

.top-container h2{
  font-weight: normal;
  line-height: 2;
}

.middle-container{

}

.skills{

}

.bottom-container{

}

.button {
  font-family: arial;
  font-weight: bold;
  color: #7C2E00 !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #A13C00;
  box-shadow: 1px 1px 1px #7C2E00;
  padding: 10px 25px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #7C2E00;
  background: #FFFFFF;
  background: linear-gradient(top,  #DEDEDE,  #FFFFFF);
  background: -ms-linear-gradient(top,  #DEDEDE,  #FFFFFF);
  background: -webkit-gradient(linear, left top, left bottom, from(#DEDEDE), to(#FFFFFF));
  background: -moz-linear-gradient(top,  #DEDEDE,  #FFFFFF);
}
.button:hover {
  color: #FFFFFF !important;
  background: #468CCF;
  background: linear-gradient(top,  #7C2E00,  #A13C00);
  background: -ms-linear-gradient(top,  #7C2E00,  #A13C00);
  background: -webkit-gradient(linear, left top, left bottom, from(#7C2E00), to(#A13C00));
  background: -moz-linear-gradient(top,  #7C2E00,  #A13C00);
  cursor: pointer;
}

.nav-link{
  color: #ffffff !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("iconfinder-icon.svg");
}

.navbar-light {
    background: transparent !important;
    color: white !important;
}

.bg-light{
  background: transparent;
}

.navbar-inner a{
    color:#FFFFFF;
}

.profile img{
  display: none;
  height: 200px;
  width:350px;
  border-radius: 100%;
  float: left;
  position: absolute;
  left: 300px;
  top: 1000px;
}

.profile p{
  line-height: 2;
}

p{
  margin: 0;
}
.table{
  width: 30%;
  margin: 30px;
}
.drill-div{
  background-color: white;
  float: left;
  padding: 1em;
  border-radius: 100%;
  margin-right: 2em;
}

.skill-row{
  margin: 0 auto;
  position: relative;
  width: 50%;
  padding: 3em 0;
}

.drill{
  height: 5em;
}

.ruler-div{
  background-color: white;
  float: right;
  padding: 1em;
  border-radius: 100%;
  margin-left: 2em;
}

.ruler{
  height: 5em;
}
